#--------------------------------------------------------------------

[output_pin caselight]
pin: PB10
pwm:true
shutdown_value: 0
value: 1                             #the brightness at startup (0-1)
cycle_time: 0.01

#--------------------------------------------------------------------

[temperature_sensor chamber]
sensor_type: DS18B20
sensor_mcu: host
serial_no: 28-3c01d607f9f4
min_temp: 0
max_temp: 80


